<nav class="navbar navbar-static-top navbar-default ">
  <div class="row container-fluid">
    <div class="col-xs-12 col-md-6 col-sm-6 navbar-header">
      <a class="navbar-brand" href="#">TripsDiaries</a>
    </div>

   <div  class="col-xs-12 col-md-6 col-sm-6">
      <ul class="inline nav navbar-nav  navbar-right">
        <li><a [routerLink]="['/feed']"><span class="glyphicon glyphicon-bell"></span></a></li>
        <li><a [routerLink]="['/user/','newtrip']"> <span class="glyphicon glyphicon-plus"></span>  </a></li>
        <li><a [routerLink]="['/profile']"><span class="glyphicon glyphicon-user"></span></a></li>
        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
   </div>

  </div>
</nav>



<div class="body col-md-6 col-md-offset-3">
  <ul class="nav nav-tabs">
    <li ><a (click)="getUserFeeds()">My Feeds</a></li>
    <li ><a (click)="getTrendingFeeds()">Trending</a></li>
  </ul>

  <div class="row img-feed">

    <!------------------------------------->

    <div class="col-sm-12 dbd-feed" *ngFor="let feed of feeds">

      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/images/main.jpg" class="img-circle" style="max-width:20%;height: 40px;width: 40px">
          <span><b> {{feed.creatorId.username}}</b> shared a trip to  <b>{{feed.location}} </b></span>
        </div>

        <div class="col-sm-2 pull-right" *ngIf="(user.following.indexOf(feed.creatorId._id) == -1) && (user._id != feed.creatorId._id)">
          <button (click)="follow(feed.creatorId._id)" class=" avt-btn btn btn-danger btn-block"> Follow</button>

        </div>


      </div>

      <div>
        <img  [src]="sanitize(feed.url)" width="100%" height="100%  ">
      </div>
      <div class="row comment-sec">
        <div class="col-sm-12">

          <h5 class="comments-title">
          <a (click) = "showHide=!showHide"> <span class="bagde">{{feed.comments.length}}</span>
            Comments</a>

          </h5>
          <ul class="media-list comment-detail-list" *ngIf="showHide">
            <li class="media" *ngFor="let comment of feed.comments">
              <div>
                <div class="media-left">
                  <a href="#" class="author">{{ comment.author }}</a><br />
                  <time class="sub-text">{{ comment.date | date:"MM/dd/yyyy" }}</time>
                </div>
                <div class="media-body">
                  <div class="comment-body">
                    <p>{{ comment.comment }}</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input class="form-control" [(ngModel)]='commt' name ="commt"
                     type="text" placeholder="Your comments" />
            </div>
            <div class="form-group">
              <button (click)="comment(feed._id)" class="btn btn-default">Comment </button>
            </div>
          </form>

        </div>


      </div>






    </div>




  </div>

</div>

